name: build and push image

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

on:
  schedule:
    - cron: 0 2 * * 1
  push:
    branches:
      - main
    paths-ignore:
        - '*.json'
        - '*.md'
        - 'startup/*'
        - 'cleanup/*'
        - 'test/*'
        - '.github/workflows/deploy.yml'

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: build and push image
    uses: ./.github/workflows/cli.yml
    secrets: inherit
    with:
      environment: azure
      script: |
        az acr build --no-push --no-wait -t cache ./caching
        az acr build -t az-runner:ubuntu -t az-runner:latest .

  create:
    name: create test runner
    uses: ./.github/workflows/powershell.yml
    needs: build
    secrets: inherit
    with:
      environment: azure-test
      script: ./create.ps1 `
        -ContainerGroupName az-runner-test `
        -Labels @("linux","x64","azure","test")

  check:
    name: check availability
    uses: ./.github/workflows/powershell.yml
    needs: create
    secrets: inherit
    with:
      environment: azure-test
      script: ./check.ps1 -ContainerGroupName az-runner-test

  test:
    name: try test runner
    runs-on:
      - self-hosted
      - azure
      - test
    needs: check
    steps:
    - name: checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

  final-check:
    name: check final state
    runs-on: ubuntu-latest
    needs: test
    if: always()
    steps:
      - name: fail if test runner failed to complete
        if: needs.test.result != 'success'
        run: |
          echo "Test runner was probably cancelled or failed otherwise."
          exit 1

  delete:
    name: delete test runner
    uses: ./.github/workflows/powershell.yml
    needs: test
    if: always()
    secrets: inherit
    with:
      environment: azure-test
      script: ./delete.ps1 -ContainerGroupName az-runner-test
