name: azure cli

on:
  workflow_call:
    inputs:
      script:
        required: true
        type: string
      environment:
        required: true
        type: string
      acr-name:
        required: false
        type: string
      location:
        required: false
        type: string
      resource-group:
        required: false
        type: string
    secrets:
      client-id:
        required: false
      tenant-id:
        required: false
      subscription-id:
        required: false

jobs:
  run:
    name: run azure cli script
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment: ${{ inputs.environment }}
    steps:
      - name: checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: login to Azure
        uses: azure/login@6c251865b4e6290e7b78be643ea2d005bc51f69a # v2.1.1
        with:
          client-id: ${{ secrets.client-id || secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.tenant-id || secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.subscription-id || secrets.AZURE_SUBSCRIPTION_ID }}

      - name: set defaults
        run: az configure --defaults acr=${{ inputs.acr-name || vars.ACR_NAME }} location=${{ inputs.location || vars.AZ_LOCATION }} subscription=${{ secrets.subscription-id || secrets.AZURE_SUBSCRIPTION_ID }} group=${{ inputs.resource-group || vars.AZ_RES_GROUP }}
        
      - name: run azure cli
        uses: azure/cli@965c8d7571d2231a54e321ddd07f7b10317f34d9 # v2.0.0
        with:
          azcliversion: latest
          inlineScript: ${{ inputs.script }}
