name: azure powershell

on:
  workflow_call:
    inputs:
      script:
        required: true
        type: string
      environment:
        required: true
        type: string

jobs:
  run:
    name: run azure powershell script
    runs-on: windows-latest
    permissions:
      id-token: write
    environment: ${{ inputs.environment }}
    steps:
      - name: checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: login to Azure
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
          
      - name: run commands
        uses: azure/powershell@53dd145408794f7e80f97cfcca04155c85234709 # v2.0.0
        env:
          ACR_NAME: ${{ vars.ACR_NAME }}
          ACR_USERNAME: ${{ vars.ACR_USERNAME }}
          ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
          GITHUB_PAT: ${{ secrets.RUNNER_ACCESS_TOKEN }}
          AZ_LOCATION: ${{ vars.AZ_LOCATION }}
          AZ_RES_GROUP: ${{ vars.AZ_RES_GROUP }}
        with:
          azPSVersion: "latest"
          inlineScript: ${{ inputs.script }}
